# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Virtual Environment
.venv/
venv/

# ========================
# Project Data（重要）
# ========================
data/input/*
data/output/*
data/backup/*
temp/*
logs/*

# 保留資料夾結構
!data/input/.gitkeep
!data/input/範例_SH0005_有才寵物商店_商品資料_01.xlsx
!data/output/.gitkeep
!data/backup/.gitkeep
!temp/.gitkeep
!logs/.gitkeep

# ========================
# Logs
# ========================
*.log

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# IDE
# ========================
.vscode/
.idea/
*.swp